
*{
    padding: 40px;
}
body{
    background-color: rgb(99, 178, 224);
    background-repeat: repeat;
}
table {
    font-family: cursive, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  table,td,th {
    border: 8px solid #0c4373 ;
  }
  td, th {
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  
  tr {
    background-color: #3ab9ca;
  }
  img {
    height: 200px;
    width:  auto;
  }
  tr,a{
    color: #173788;
  }
  th {
    background-color: rgb(188, 29, 203);
    font-size: 50px;
  }
  caption {
    font-size: 50px;
    text-transform: unset;
  }
  
   